Django==1.7.1
MySQL-python==1.2.5
Scrapy==0.24.4
Twisted==14.0.2
Whoosh==2.6.0
cffi==0.8.6
cryptography==0.6.1
cssselect==0.9.1
django-haystack==2.3.1
gnureadline==6.3.3
ipython==2.3.1
lxml==3.4.1
nltk==3.0.0
numpy==1.9.1
pyOpenSSL==0.14
pycparser==2.10
queuelib==1.2.2
six==1.8.0
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
