extends layout

block content
  h1
      |Q & A
  form(method="post")
      input(name="question",placeholder="Type in your question")
      button(type="submit") Submit
  p Your questsion is "#{question}"
  p #{answer}
