{% extends 'base.html'%}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-122">
            <div class="input-group">
                <input value="{{ q.question }}" type="text" class="form-control" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Ask!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</form>
{% if q %}
<p><b>Question type: {{q.get_type}}</b></p>
<ul>
    {% for i in result %}
    <li>
        <blockquote>{{i.object.content}}
        <small> <a target="_blank" href="{{i.object.url}}">{{i.title}} [ID:{{ i.object.id }}]</a></small>
        </blockquote>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2>Ask me anything, I might have an answer for you.</h2>
{% endif %}
{% endblock content %}
