<html>
<head>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<style>
body {
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
}
.gray blockquote {
    color: #999;
}
.white blockquote {
    color: #ddd;
}
</style>
<div class="container">
<div class="col-lg-10 col-lg-offset-1">
{% block content %}
{% endblock content %}
</div>
</div>
</body>
</html>
